* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #292929;
}
.slider__controls {
    background: #292929;
    z-index: 3;
}
.slider {
    max-width: 90%;
    overflow: hidden;
    margin: 1rem auto;
    color: #fff;
}
.slider-item {
    flex: 1 0 100%;
}
.slider__captions {
    width: 100%;
    grid-area: captions;
    display: flex;
    transition: 1.5s ease all;
}
.slider-item__caption {
    flex: 1 0 100%;
}
.slider-item__image {
    flex: 1 0 100%;
}
.slider-item__image img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 9px;
}
.slider__items {
    grid-area: items;
    display: flex;
    transition: 1.5s ease all;
}
.slider__controls {
    grid-area: controls;
    display: flex;
}
.slider__control {
    padding: 0.25rem;
    cursor: pointer;
    transition: 0.3s ease all;
}

.slider__control span {
    transition: 0.3s ease all;
    display: flex;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #ffffff;
}
.slider__control:hover span{

    background: rgb(59, 42, 245);
}
.slider__control._active span {
    background: none;
    border: 2px solid rgb(59, 42, 245);;
}
.slider {
    display: grid;
}
@media (min-width: 1280px) {
    .slider {
        grid-template-columns: 4fr 1fr;
        row-gap: 2.5rem;
        grid-template-areas: "items items"
        "captions controls";
    }
    .slider__items {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .slider__controls {
        justify-content: flex-end;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .slider {
        row-gap: 1rem;
        grid-template-areas: "items"
        "controls"
        "captions";
    }
    .slider__controls {
        justify-content: center;
    }
}