* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #292929;
}
.slider {
    max-width: 90%;
    overflow: hidden;
    margin: 1rem auto;
    color: #fff;
}
.slider-item {
    flex: 1 0 100%;
}
.slider-item__image img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 9px;
}
.slider__items {
    display: flex;
    transition: 1.5s ease all;
}
.slider__controls {
    display: flex;
}
.slider__control {
    padding: 0.25rem;
    cursor: pointer;
    transition: 0.3s ease all;
}

.slider__control span {
    transition: 0.3s ease all;
    display: flex;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #ffffff;
}
.slider__control:hover span{

    background: rgb(59, 42, 245);
}
.slider__control._active span {
    background: none;
    border: 2px solid rgb(59, 42, 245);;
}